<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Room : {{ room.permanent_url }}</p>
<p>Status : <span id="status">{{ room.status }} </span> </p>
<p>Players : {% for player in room.players.all %} {{ player }} {% endfor %}</p>

<input id="play_btn" type="button" value="Playing">
<input id="end_btn" type="button" value="End Game">

<p id="game-log">Game logs: <br></p>

<a href="{% url 'game:index' %}" class="badge badge-primary my-auto"><i class="fas fa-plus-circle"></i> Back to lobby</a><br>

<label for="play-card-id-input">card id: </label><input id="play-card-id-input" type="text" size="100"><br>
<label for="play-card-pos-input">card pos:</label><input id="play-card-pos-input" type="text" size="100"><br>
<label for="play-card-act-input">card act:</label><input id="play-card-act-input" type="text" size="100"><br>

<input id="play-card-submit" type="button" value="Send">
</body>
    {{ room.permanent_url|json_script:"room-name" }}
    {#  <script>  #}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const token = localStorage.getItem('access_token');
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/game/'
            + roomName
            + '/?token='
            + token
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log(data);
            if (data.event === 'chat_message') {
                document.querySelector('#game-log').textContent += (data.message + ' ');
            }
            else if (data.event === 'status_change') {
                document.querySelector('#status').textContent = (data.message + ' ');
            }

        };

        chatSocket.onclose = function(e) {
            console.log(e);
            console.error('Game socket closed unexpectedly');
        };

        document.querySelector('#play_btn').onclick = function(e) {
            chatSocket.send(JSON.stringify({
                'event': 'status_change',
                'message': 'playing'
            }));
        };

        document.querySelector('#end_btn').onclick = function(e) {
            chatSocket.send(JSON.stringify({
                'event': 'status_change',
                'message': 'end'
            }));
        };

        document.querySelector('#play-card-id-input').focus();
        document.querySelector('#play-card-pos-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#play-card-submit').click();
            }
        };

        document.querySelector('#play-card-submit').onclick = function(e) {
            const card_id = document.querySelector('#play-card-id-input').value;
            const card_pos = document.querySelector('#play-card-pos-input').value;
            const card_act = document.querySelector('#play-card-act-input').value;
            chatSocket.send(JSON.stringify({
                'event': 'play_card',
                'card_id': card_id,
                'card_pos': card_pos,
                'card_act': card_act
            }));
        };

    </script>
</html>